<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?v=0.81">
    <title>Welcome to Portal!</title>
</head>
<body>
    <div class="wrapper">
        <div></div>
        <header>
            <div class="logo-container">
                <img class="logo" src="https://t1.daumcdn.net/daumtop_chanel/op/20170315064553027.png" alt="">
            </div>
            <div class="search-container">
                <form class="search-form" action="" method="POST">
                    <input class="search-area" type="text" placeholder="Tìm kiếm với Google">
                    <input class="btn-search" type="submit">
                </form>
            </div>
            <div class="rolling-banner-container">
                광고영역
            </div>
        </header>
        <main class="body-wrapper">
            <div class="main-section">
                <section class="section-left">
                    <div class="main-ad-wrapper">
                        <img src="https://displayadimg.zumst.com/upload/20200410/3c6a5f49ab6bd35e6c3d38880da4513d.jpg" alt="">
                    </div>
                    <div class="fast-news">
                        <h3>VNExpress</h3><span>></span><span>Bộ trưởng Đào Ngọc Dung: 'Hỗ trợ dân nghè trong tháng 4'</span>
                    </div>
                    <div class="news-feeds">
                        <div class="news-company">
                            <h3 class="all-company">Tất cả</h3>
                            <h3 class="individual-company">Theo báo chí</h3>
                            <div class="company-list">
                                <span>VNExpress</span>
                                <span>Tuổi trẻ online</span>
                                <span>Thanh niên</span>
                                <span>Dân Trí</span>
                                <span>Báo mới</span>
                            </div>
                        </div>
                        <div class="news">
                            <ul class="news-category">
                                <li class="active"><h3>Tổng hợp</h3></li>
                                <li><h3>Thế giới</h3></li>
                                <li><h3>Công nghệ</h3></li>
                                <li><h3>Đời sống</h3></li>
                                <li><h3>Thể thao</h3></li>
                                <li><h3>Kinh tế</h3></li>
                            </ul>
                            <div class="news-detail">
                                <div class="news-imageNews">
                                    <img src="https://i1-suckhoe.vnecdn.net/2020/04/16/huy-1066-1587033076-2578-1587034927.jpg?w=680&h=0&q=100&dpr=1&fit=crop&s=St9FINn-ctdX0TSQRRx5tQ" alt="">
                                    <div></div>
                                    <span>Toàn cầu đau đầu đảm bảo lương thực trong đại dịch</span>
                                </div>
                                <ul class="news-line">
                                    <li>Tạm dừng hoạt động của Công Ty PouYuen từ 0h ngà...</li>
                                    <li>100.000 chữ A ủng hộ trẻ tự kỷ trên Facebook Có ngh...</li>
                                    <li>Nhận quà hot từ Call of Duty: Mobile VN ngay ngày đầ...</li>
                                    <li>Ứng dụng khai báo y tế NCOVI đạt gần 6,5 triệu lượn...</li>
                                    <li>“Đi từng ngõ, gõ từng nhà” hỗ trợ người dân khai báo...</li>
                                    <li>Trên tay Oppo Watch: đệp đôi với Find X2, đeo đã tay...</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-right">
                    <div class="realtime-search-rank">
                        <div class="search-category">
                            <h4 class="active">Hiện tại</h4>
                            <h4>24h qua</h4>
                        </div>
                        <ul class="search-rank">
                            
                            <li><em class="active">1</em>title : 조회수</li>
                            <li><em class="active">2</em>Trẻ tự kỷ</li>
                            <li><em class="active">3</em>Call of Duty: Mobile</li>
                            <li><em>4</em>NCOVI khai báo y tế</li>
                            <li><em>5</em>khai báo y tế online</li>
                            <li><em>6</em>Oppo Watch</li>
                            <li><em>7</em>Triệu chứng COVID</li>
                            <li><em>8</em>New York</li>
                            <li><em>9</em>Tình hình dịch bệnh ngày 14/4</li>
                            <li><em>10</em>Cách ly xã hội</li>
                        </ul>
                    </div>
                    <div class="ad-right-nav">
                        <img src="https://ssl.pstatic.net/tveta/libs/1281/1281563/f6987f1a9efd379943dc_20200402191040394.png" alt="">
                    </div>
                    <div class="shopping-list">
                        <div class="shop-list">

                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>

</html>