<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}?v=0.81">
    <title>Welcome to Portal!</title>
</head>
<body>
    <div class="wrapper">
        <div class="top-menu">
            <span>홈페이지</span>
            <span>즐겨찾기</span>
            <span>광고문의</span>
        </div>
        <header>
            <div class="logo-container">
                <img class="logo" src="https://t1.daumcdn.net/daumtop_chanel/op/20170315064553027.png" alt="">
            </div>
            <div class="search-container">
                {% csrf_token %} 
                <form class="search-form" action="" method="POST">
                    <input class="search-area" type="text" placeholder="Tìm kiếm với Google">
                    <input class="btn-search" type="submit">
                </form>
            </div>
            <div class="rolling-banner-container">
                광고영역
            </div>
        </header>
        <main class="body-wrapper">
            <div class="main-section">
                <section class="section-left">
                    <div class="main-ad-wrapper">
                        {% for i in main_banner %}
                            <a href="{{ i.link }}"><img src="{{ i.img.url }}" alt="{{ i.title }}"></a>
                        {% endfor %}
                        
                    </div>
                    <!-- <div class="fast-news">
                        <h3>VNExpress</h3><span>></span><span>Bộ trưởng Đào Ngọc Dung: 'Hỗ trợ dân nghè trong tháng 4'</span>
                    </div> -->
                    <div class="news-feeds">
                        <div class="news">
                            <ul class="news-category">
                                <li class="active"><h3>VNExpress</h3></li>
                                <li><h3>Zing</h3></li>
                                <li><h3>Tuổi trẻ</h3></li>
                                <li><h3>Thanh Niên</h3></li>
                                <li><h3>VTC</h3></li>
                                <li><h3>Báo tin tức</h3></li>
                            </ul>
                            <div class="news-detail">
                                <ul class="news-line">
                                    {% for title, link in search_vnexpress.items %}
                                    {% if forloop.counter == 1 %}
                                    <div class="news-imageNews"><a href="{{link.0}}"><img src="{{link.1}}" alt=""><div></div><span>{{title}}</span></a></div>
                                    <div class="news-titles">
                                    {% else %}
                                    <li><a href="{{link.0}}"><span>{{title}}</span></a></li>
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                                </ul>
                            </div>
                            <div class="news-detail">
                                <ul class="news-line">
                                    {% for title, link in search_zing.items %}
                                    {% if forloop.counter == 1 %}
                                    <div class="news-imageNews"><a href="{{link.0}}"><img src="{{link.1}}" alt=""><div></div><span>{{title}}</span></a></div>
                                    <div class="news-titles">
                                    {% else %}
                                    <li><a href="{{link.0}}"><span>{{title}}</span></a></li>
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                                </ul>
                            </div>
                            <div class="news-detail">
                                <ul class="news-line">
                                    {% for title, link in search_tuoitre.items %}
                                    {% if forloop.counter == 1 %}
                                    <div class="news-imageNews"><a href="{{link.0}}"><img src="{{link.1}}" alt=""><div></div><span>{{title}}</span></a></div>
                                    <div class="news-titles">
                                    {% else %}
                                    <li><a href="{{link.0}}"><span>{{title}}</span></a></li>
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                                </ul>
                            </div>
                            <div class="news-detail">
                                <ul class="news-line">
                                    {% for title, link in search_thanhnien.items %}
                                    {% if forloop.counter == 1 %}
                                    <div class="news-imageNews"><a href="{{link.0}}"><img src="{{link.1}}" alt=""><div></div><span>{{title}}</span></a></div>
                                    <div class="news-titles">
                                    {% else %}
                                    <li><a href="{{link.0}}"><span>{{title}}</span></a></li>
                                    {% endif %}
                                    {% endfor %}
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section-right">
                    <div class="realtime-search-rank">
                        <div class="search-category">
                            <h4 class="active">Xu hướng</h4>
                            <h4>Apps</h4>
                        </div>
                        <div class="list_wrapper">
                            <ul class="search-rank">
                                {% for trend, traffic in trends.items %}
                                    {% if forloop.counter < 4 %}
                                        <li>
                                            <a href='https://google.com/search?q={{trend}}'>
                                                <em class="active">{{ forloop.counter }}</em>{{ trend }} 
                                            
                                                <span>{{traffic }}</span>
                                            
                                            </a>
                                        </li>

                                    {% else %}
                                        <li><a href="https://google.com/search?q={{trend}}"><em>{{ forloop.counter }}</em>{{ trend }} <span>{{ traffic }}</span></a></li>
                                    {% endif %}
                                {% endfor %}
                                <!-- {% for title in trends %}
                                    <li><a href="#">{{ title }}</a></li>
                                {% endfor %} -->
                                <!-- <li><em class="active">1</em>title : 조회수</li>
                                <li><em class="active">2</em>Trẻ tự kỷ</li>
                                <li><em class="active">3</em>Call of Duty: Mobile</li>
                                <li><em>4</em>NCOVI khai báo y tế</li>
                                <li><em>5</em>khai báo y tế online</li>
                                <li><em>6</em>Oppo Watch</li>
                                <li><em>7</em>Triệu chứng COVID</li>
                                <li><em>8</em>New York</li>
                                <li><em>9</em>Tình hình dịch bệnh ngày 14/4</li>
                                <li><em>10</em>Cách ly xã hội</li> -->
                            </ul>
                            <ul class="links">
                                <li><img src="https://lh3.googleusercontent.com/qTG9HMCp-s_aubJGeQWkR6M_myn-aXDJnraWn9oePcY1dGbYqXibaeLQBAeMdmxSBus" alt="">Gmail</li>
                                <li><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Google_Drive_logo.png/1200px-Google_Drive_logo.png" alt="">G drive</li>
                                <li>Youtube</li>
                                <li>Facbook</li>
                                <li>Instagrame</li>
                                <li>Tiki</li>
                                <li>Shopee</li>
                                <li>Lazada</li>
                            </ul>
                        </div>
                    </div>
                    <div class="ad-right-nav">
                        {% for i in sub_banner %}
                            <a href="{{ i.link }}"><img src="{{ i.img.url }}" alt="{{ i.title }}"></a>
                        {% endfor %}
                    </div>
                    <div class="shopping-list">
                        <div class="shop-list">

                        </div>
                    </div>
                </section>
            </div>
        </main>
    </div>
</body>
<!-- JS script -->
<script src="/static/script.js"></script>
</html>